/* styles.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #1e1e1e;
    background: url('/images/fondo2.png') no-repeat center center fixed;
    background-size: cover;
    /* Ajusta la imagen para cubrir toda la pantalla */
}

.container {
    display: flex;
    /* height: 100vh; */
    justify-items: center;

}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Cambiar la dirección a vertical */
    justify-content: space-evenly;
    width: 20%;
    background-color: rgba(46, 46, 46, 0.884);
    /* Fondo con transparencia */
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 100vh;
}

.profile-pic {
    max-width: 300px;
    max-height: 200px;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar h1 {
    color: #9cfc97;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 30px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.sidebar nav ul li a:hover {
    color: #9cfc97;
}

.github,
.linkedin,
.scredy {
    text-decoration: none;
    font-size: 50px;
    margin: 10px;
}

/*BODY*/
.content {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 80%;
    padding: 20px;
    /* overflow: auto; */
    /* background: url('code-background.jpg') no-repeat center center fixed; */
    /* background-size: cover; */
    /* filter: blur(3px); */
}

.info {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    /* Cambia a columna */
    align-items: center;
    /* Centra el contenido horizontalmente */
    justify-content: center;
    /* Centra el contenido verticalmente */
    width: 100%;
    font-size: 20px;
    height: auto;
    padding: 20px;
    /* border-radius: 10px; */
    color: #9cfc97;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* Centra el texto */
}

/*languagues*/
/* Row Styling */
.row {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin: 30px 0px;
}

.row span {
    width: 150px;
    text-align: left;
}

.headers span {
    font-weight: bold;
    text-align: center;
}

.circle-container {
    margin-left: 30px;
    display: flex;
    gap: 48px;
}

/* Circle Container */
.circle {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    /*Rotación sentido agujas reloj*/

}

.bg-circle {
    fill: none;
    /*color interior circulo*/
    stroke: #333;
    /*color circulo vacío*/
    stroke-width: 10;
}

.progress-circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 283;
    /* Circumference of circle: 2πr = 2 * π * 45 */
    stroke-dashoffset: calc(283 - (283 * var(--percent)) / 100);
    /* Dynamic offset */
    transition: stroke-dashoffset 1s ease-in-out;
    /*transiccion del color del circulo*/
}

.content img {
    max-width: 300px;
    max-height: 200px;
    object-fit: contain;
    border-radius: 40%;
    margin-bottom: 10px;
}

/*Free code camp*/
.info h2 {
    margin-bottom: 20px;
    /* Espaciado entre el título y la lista */
    font-size: 2rem;
    /* Tamaño del texto */
    color: yellow;
    display: flex;
}

/* Ajustar los elementos de la lista */
.fccamp,
.cisco {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    /* Alinea los elementos en columna */
    align-items: center;
    /* Centra los elementos de la lista */
}

.fccamp li,
.cisco li {
    height: 100%;
    width: 100%;
    margin: 10px 50px;
    /* Espaciado entre los elementos */
    font-size: 1.2rem;
    color: white;
}