/* styles.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #1e1e1e;
    background: url('/images/fondo2.png') no-repeat center center fixed;
    background-size: cover;
    /* Ajusta la imagen para cubrir toda la pantalla */
}

.container {
    display: flex;
    height: 100vh;
    justify-items: center;

}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Cambiar la dirección a vertical */
    justify-content: space-evenly;
    width: 20%;
    background-color: rgba(46, 46, 46, 0.884);
    /* Fondo con transparencia */
    padding: 20px;
    text-align: center;
}

.profile-pic {
    max-width: 250px;
    max-height: 200px;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar h1 {
    color: #9cfc97;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 30px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.sidebar nav ul li a.activo {
    color: #9cfc97;
}

.sidebar nav ul li a:hover:not(.activo) {
    color: #9cfc97;
}

.github,
.linkedin,
.scredy {
    text-decoration: none;
    font-size: 50px;
    margin: 10px;
}

.content {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 80%;
    padding: 20px;
    /* overflow: auto; */
    /* background: url('code-background.jpg') no-repeat center center fixed; */
    /* background-size: cover; */
    /* filter: blur(3px); */
}

.json-code {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    width: auto;
    font-size: 20px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    color: #9cfc97;
    font-family: 'Courier New', Courier, monospace;
}